# created by virtualenv automatically
*#==============================
# IDEs
#==============================
.vs
.idea
.vscode

#==============================
# Python
#==============================
**/__pycache__/
**/venv/

#==============================
# Private
#==============================
.env

#==============================
# Misc
#==============================
**/apps/
**/compare/
**/logs/
**/tmp/
**/workdir/

#==============================
# Reports
#==============================
*.pdf
